compute_environment: LOCAL_MACHINE
debug: false

deepspeed_config:
  gradient_accumulation_steps: 1
  zero_stage: 2
  offload_optimizer_device: cpu  
  offload_param_device: cpu
  zero3_init_flag: false
  gradient_clipping: 1.0
  stage3_gather_16bit_weights_on_model_save: false
  enable_fp16: false
  enable_bf16: true
  bf16:
    enabled: true
  fp16:
    enabled: false
    loss_scale: 1024
    initial_scale_power: 10
    hysteresis: 2
    min_loss_scale: 1

distributed_type: DEEPSPEED
downcast_bf16: 'no'
gpu_ids: all
machine_rank: 0
main_training_function: main
mixed_precision: bf16
num_machines: 1
num_processes: 8
rdzv_backend: static
same_network: true
tpu_env: []
tpu_use_cluster: false
tpu_use_sudo: false
use_cpu: false
